<section id="one" class="tiles">
  {% assign sortedFeature = site.data.events.records | where: "fields.feature","true" | sort: 'fields.date' %}
  {% for record in sortedFeature limit:2 offset:2 %}
  {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
  {% capture date %}{{ record.fields.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if record.fields.publish == true and record.fields.feature == true and date >= now | sort: record.fields.date | reverse %}
  <article>
    <span class="image">
      <img src="{{ record.fields.image[0].url }}" />
    </span>
    <header>
      <h2 style="text-decoration: capitalize; margin-bottom: 0;">
        {{ record.fields.title }}
      </h2>
      <h4>{{ record.fields.date | date: "%R %A %-d %b %Y" }}, <span style="text-transform: capitalize;">{{ record.fields.category | Titlecase }}</span></h4>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>

<div class="innersmall">
  <ul class="actions">
    <li><a href="{{ '/events' | absolute_url }}" class="button scrolly special">View all events</a></li>
  </ul>
</div>