<div class="innersmall">
  <h2>Coming Soon to PPH</h2>
</div>

<section id="one" class="tiles">
  {% for record in site.data.events.records %}
  {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
  {% capture date %}{{ record.fields.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if record.fields.publish == true and record.fields.feature == true and date >= now | sort: record.fields.date reversed %}
  <article>
    <span class="image">
      <img src="{{ record.fields.image[0].url }}" />
    </span>
    <header>
      <h3>{{ record.fields.title }}</h3>
      <p>{{ record.fields.date | date: "%R %A %-d %b %Y" }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>

<div class="innersmall">
  <ul class="actions">
    <li><a href="{{ '/events' | absolute_url }}" class="button scrolly special">View all events</a></li>
  </ul>
</div>